body {
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.title{
  color: red;
  font-size: 100px;
  margin-bottom: 50px;
}

.text{
  color: #B22222;
}

.images{
  width: 800px;
  height: 600px;
}

.button{
  height: 30px;
  width: auto;
  color : red;
}